/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-09-09, 20:14:17
    Author     : greg
*/
.calendarday {
	width: 60%;
}
.calendarweek {
	width: 90%;
	margin: 0 auto;
}
.calendarMonth {
	width: 80%;
	margin: 0% auto;
	
}
.calendarMonth td {
	height: 60px;
}

#prevm {
	width:5%;
	float: left;

}
#nextm {
	width:5%;
	float:left;
}
#centerm{
	float: left;
	width: 88%;

}

.dane {
	width: 27%;
	display: block;
}
.danetop {
	height: 320px;
}
.danebottom {
	height: 50px
}
._fL {
	float: left;
}

._fR {
	float: right;
}

.clear {
	clear: both;
}
.header {
	background-color: silver;
}

table {
	border: none;
}

td {
	height: 60px;
}

.navheader {
	text-align: center;
}
.footer {
	text-align: center;
}
.left, .right {
	width:48%;
	margin: 0 auto;
}

.right {
	width:48%;
	margin: 0 auto;
	float: right;
}
.container {
	width: 90%;
	margin: 0 auto;
}

/* -- header -- */
#left_header {
	float: left;
	width: 8%;
}
#center_header {
	width:80%;
	float: left;
}
#right_header {
	width: 8%;
	float: right;
}