/* 
    Created on : 2015-09-09, 20:14:17
    Author     : greg
*/
.calendarday {
	width: 60%;
	padding-left: 10%;
}
.calendarweek {
	width: 90%;
	margin: 0 auto;
}
.calendarMonth {
	width: 80%;
	margin: 0% auto;
}
.calendarMonth td {
	height: 60px;
}

#prevm {
	width:5%;
	float: left;
}
#nextm {
	width:5%;
	float:left;
}
#centerm{
	float: left;
	width: 88%;
}

.dane {
	width: 27%;
	display: block;
}

/* panel danych */
.danetop {
	height: 50px;
}
.danemiddle {
	height: 300px;
}

.danebottom button{
	width: 100%;
}
.danebottom {
	height: 50px
}


._fL {
	float: left;
}

._fR {
	float: right;
}

.clear {
	clear: both;
}
.header {
	background-color: silver;
}

table {
	border: none;
}

td {
	height: 60px;
}

.tableday td {
	height: 40px;
}

.navheader {
	text-align: center;
	padding-top: 1%;
}
.footer {
	text-align: center;
}
.left, .right {
	width:48%;
	margin: 0 auto;
}

.right {
	width:48%;
	margin: 0 auto;
	float: right;
}
.container {
	width: 90%;
	margin: 0 auto;
}

/* -- header -- */
#left_header {
	float: left;
	width: 8%;
}
#center_header {
	width:70%;
	float: left;
}
#right_header {
	width: 20%;
	float: right;
	font-size: 0.8em;
}

#right_header div  {
	float: right;
	margin-right: 10%;
}

/* -- day -- */
#navday {
	width: 100%;
	height: 20px;
	padding-top: 1%;
}
#prevd {

	float: left;

}
#nextd {
	padding-left: 15%;
	float:left;
}
#centerm{
	float: left;
	width: 88%;
}

.rowgrey {
min-height: 4em;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}


/* -- other -- */
.vcenter span {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4em;
    line-height: 2em;
    float: none;
}

.line{
	padding-top: 1%;
}