*
{
    padding: 0;
    margin: 0;
}

._fL
{
	float: left;
}

._fR
{
	float: right;
}

.calendar-planner
{
	overflow: auto;
	width: 100%;
}

.calendar-planner .planner
{
	font-family: 'Open Sans';
	font-weight: 300;
	border: 1px solid #e2e2e2;
}

.calendar-planner .planner tr td
{
	font-size: 22px;
	width: 80px;
	border: 1px solid #e2e2e2;
	padding: 8px;
}

.calendar-planner .planner tr td:nth-child(2)
{
	font-family: 'Patrick Hand SC';
	font-size: 15px;
	width: 400px;
	text-align: left;
}

.calendar #header a
{
	display: inline-block;
	width: 11px;
	height: 15px;
	background-image: url('../images/navi_icons.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.calendar #month-back:hover
{
	background-position: bottom left;
}

.calendar #month-next
{
	background-position: top right !important;
}

.calendar #month-next:hover
{
	background-position: bottom right !important;
}

.calendar #header td
{
	background-image: url('../images/cal_head.png');
	background-position: top left;
	height: 32px;
	color: white;
	text-shadow: 0px 0px 1px #2d2d2d;
	font-family: 'Open Sans';
	font-weight: bold;
	padding-top: 12px;
	text-align: center;
}

.calendar tr.week, .calendar tr.week td
{
	border: 1px solid #e2e2e2;
}

.calendar tr.week td
{
	width: 40px;
	height: 27px;
	font-family: 'Open Sans Condensed';
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	padding-top: 13px;
	background-image: url('../images/day_types.png');
	background-position: -40px 0px;
	background-repeat: no-repeat;
}

.calendar tr.week td a
{
	text-decoration: none;
	color: #333333;
	padding:9px;
	padding-left:12px;
	padding-right:12px;
}

.calendar tr.week td.grayed a, .calendar tr.week td.grayed-event a
{
	color: #979797;
}

.calendar tr.week td.grayed, .calendar tr.week td.grayed-event, .calendar tr.week td.event
{
	color: #979797;
	background-position: 0px 0px;
	font-weight: 500;
}

.calendar tr.week td.grayed-event
{
	background-position: -80px 0px;
}

.calendar tr.week td.regular-event
{
	background-position: -120px 0px;
	font-weight: bold;
}

.calendar tr.week td.today a, .calendar tr.week td.today-event a
{
	color: white;
}

.calendar tr.week td.today
{
	background-position: -160px 0px;
	text-shadow: 0px 0px 4px #092af1;
}

.calendar tr.week td.today-event
{
	text-shadow: 0px 0px 4px #092af1;
	background-position: -200px 0px;
}
